<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Oracle IDCS Login</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="preloader">
    <div id="status"><img src="img/preloader.gif" height="64" width="64" alt=""></div>
</div>
<div class="coming-soon">
    <div class="container">
        <div class="logo"><i class="fa fa-leaf"></i> Oracle IDCS Login</div>

    {% block content %}
        Nothing Here
    {% endblock %}

    </div>
</div>
<footer>
    <div class="container">
        <a class="lightTextSmall" href="http://www.oracle.com/pls/topic/lookup?ctx=cpyr&amp;id=en">Copyright &copy;
            2019, Oracle and/or its affiliates. All rights reserved.</a>
        <div class="copyright">Theme: Copyright &copy; Locus. Designed by <a href="http://www.templatewire.com"
                                                                             rel="nofollow">TemplateWire</a>
            </div>
    </div>
</footer>
</div>
<!-- Javascript -->
<script src="{% static 'js/jquery.1.11.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
