{% extends 'sampleapp/base.html' %}

{% block content %}
<h2>
    <td><a href="/logout/"><font class="lightTextLarge">Logout</font></a></td>
    <td><font class="lightTextLarge">|</font></td>
    <td><a href="/myProfile/"><font class="lightTextLarge">My Profile</font></a></td>
    <td><font class="lightTextLarge">|</font></td>
    <td><a target="_blank" href="{{ baseurl }}/ui/v1/adminconsole/?root=apps&app={{ appid }}"><font class="lightTextLarge">My App</font></a></td><br>

</h2>


{% endblock %}