{%  extends "sampleapp/base.html" %}

{% block content %}

<h2>
    <td><a href="/auth/"><font class="lightTextLarge">Log in</font></a></td>
    <td><font class="lightTextLarge">|</font></td>
    <td><a href="/about/"><font class="lightTextLarge">About</font></a></td>

</h2>

{% endblock %}