{% extends 'sampleapp/base.html' %}

{% block content %}
<h2>
    <td><a href="/logout/"><font class="lightTextLarge">Logout</font></a></td>
    <td><font class="lightTextLarge">|</font></td>
    <td><a href="/home/"><font class="lightTextLarge">Home</font></a></td>
</h2>
        <tr class="center">
          <td style="padding: 15px;vertical-align:top;"><font class="darkTextSmall">
              <p>Your Oracle Identity Cloud Service profile information:</p>
              <pre>{{json_pretty}}</pre>
            </font> </td>
          <td style="width: 300px;">&nbsp; <span style="font-family: &quot;Source Sans Pro&quot;,sans-serif;"><br>
            </span></td>
        </tr>
{% endblock %}